@import url("http://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: #172031;
}

*  {
    font-family: "outfit",sans-serif;
     
}

.login-box {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 10px;

}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 200;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
   pointer-events: none;
   transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;

}

.btn__submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
}

div {
    display: inline-block;
  }
  
  .container {
    display: inline-block;
    align-items: center;
    color:#fff
  }
  
  .container:nth-child(1) {
    margin-right: 20px;
  }
  
  .container span {
    margin-right: 10px;
  }

  .radio-input {
    display: none;
  }
  .radio {
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    display: inline-block;
    justify-content: right;;
    align-items: right;
  }
  .radio::before,
  .radio::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    display: block;
    transition: all 0.1s;
  }
  .radio::before {
    width: 5px;
    height: 5px;
    background: #fff;
  }
  .radio::after {
    width: 10px;
    height: 10px;
    background: #f7faff4d;
  }
  .radio-input:checked + .radio::after {
    animation: ripple 0.2s;
  }
  .radio-input:checked + .radio::before {
    transform: scale(1);
  }
  @keyframes ripple {
    to {
      transform: scale(1);
    }
  }